############################################
# The following parameters are DPM-specific

<% if @dpm_listvoms -%>
dpm.listvoms
<% else -%>
dpm.nohv1
<% end -%>

if exec xrootd
<% if @dpm_xrootd_serverport -%>
dpm.xrdserverport <%= @dpm_xrootd_serverport %>
<% end -%>
<% if @dpm_enablecmsclient -%>
dpm.enablecmsclient 
<% end -%>
<% if @dpm_allowvo -%>
# access may be restricted by vo; but this option is only
# useful if voms attribute processing is enabled
dpm.allowvo <%= @dpm_allowvo %>
<% end -%>
<% if @dpm_enable_dome -%>
xrd.protocol XrdHttp /usr/lib64/libXrdHttp.so
http.exthandler dome /usr/lib64/libdome.so <%= @dpm_dome_conf_file %>
http.selfhttps2http yes
http.cert /etc/grid-security/dpmmgr/dpmcert.pem
http.key /etc/grid-security/dpmmgr/dpmkey.pem
http.cadir /etc/grid-security/certificates
http.secretkey  <%= @dpm_xrdhttp_secret_key %>
http.cipherfilter <%= @dpm_xrdhttp_cipherlist %>
<% end -%>
fi
<% if @dpm_namelib -%>
dpm.namelib <%= @dpm_namelib %>
<% end -%>
<% if @dpm_namecheck -%>
dpm.namecheck <%= @dpm_namecheck %>
<% end -%>
<% if @dpm_replacementprefix -%>
dpm.replacementprefix <%= @dpm_replacementprefix %>
<% end -%>
<% if @dpm_defaultprefix -%>
# the following can be used to check for and if necessary add a
# prefix to file names. i.e. to allow access via names like /dteam/the_file
dpm.defaultprefix <%= @dpm_defaultprefix %>
<% end -%>

dpm.dmconf <%= @dmlite_conf %>

<% if @alice_token -%>
setenv TTOKENAUTHZ_AUTHORIZATIONFILE=<%= @alice_token_conf %>
ofs.authlib <%= @ofs_authlib -%> <%= @alice_token_libname %>
dpm.fixedidrestrict <%= @domainpath %>/home/alice
dpm.principal <%= @alice_token_principal %>
<% if @alice_token_principal != "root" -%>
dpm.fqan <%= @alice_fqans %>
<% end -%>
<% end -%>

<%# needed for joining xrootd federations %>
<% if @dpm_mmreqhost -%>
dpm.mmreqhost <%= @dpm_mmreqhost %>
<% end -%>

<%# federation redirects for the main config file %>
<% if @dpm_xrootd_fedredirs and not @paths -%>
<% @dpm_xrootd_fedredirs.sort.each do |fedname, redir| -%>
<% if not redir['direct'] -%>
<% redir['paths'].sort.each do |path| -%>
xrootd.redirect <%= @dpm_host -%>:<%= redir['local_port'] -%> <%= File.join(path,"") %>
<% end -%>
<% end -%>
<% end -%>
<% end -%>
<%# federation redirects for each federation config file %>
<% if @paths and @xrootd_port -%>
<% @paths.sort.each do |path| -%>
xrootd.redirect <%= @fed_host -%>:<%= @xrootd_port -%> ? <%= File.join(path,"") %>
<% end -%>
<% end -%>

<%# use dmlite I/O if configured %>
<% if @use_dmlite_io  -%>
dpm.dmio
<% end -%>

<%# configure atlas dig auth %>
<% if @digauth_filename  -%>
xrootd.diglib * <%= @digauth_filename -%>
<% end -%>

<%# configure ofs.ckslib %>
<% if @xrd_ofsckslib  -%>
ofs.ckslib <%= @xrd_ofsckslib %>
<% end -%>
